
		
		
		
		<!DOCTYPE html>
		<html>
			<head>
				<meta charset="utf-8" />
				<title></title>
				<meta name="viewport" content="width=device-width,initial-scale=1.0">
				<meta http-equiv="X-UA-Compatible" content="IE=edge">
				<meta name='keywords' content="">
				<meta name='description' content="">
				<link rel="stylesheet" href="../css/common.css">
			</head>
			
			
			<footer class="footer container-box">
						<div class="footer-top clearfix">
							<div>
								<h4>- 新手帮助 -</h4>
								<ul>
									<li>常见问题</li>
									<li>自助服务</li>
									<li>联系客服</li>
									<li>意见反馈</li>
								</ul>
							</div>
							<div>
								<h4>- 权益保障 -</h4>
								<ul>
									<li>全国包邮</li>      
									<li>自助服务</li>   
									<li>限时发货</li>
									<li>准时到达</li>
								</ul>
							</div>
							<div>
								<h4>- 支付方式 -</h4>
								<ul>
									<li>微信支付</li>
									<li>QQ支付</li>
									<li>银联支付</li>
									<li>支付宝</li>
								</ul>
							</div>
						</div>
						<div class="footer-bottom">
							<div class="footer-content">
								<p>Copyright © 2019 理想箱包鞋帽公司版权所有</p>
								<p>本站内容、图片、视频为网站模板演示数据，如有涉及侵犯版权，请联系我们提供书面反馈，我们核实后会立即删除</p>
							</div>
						</div>
					</footer>
			<body>

		