<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>鞋帽箱包首页</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name='keywords' content="">
		<meta name='description' content="">
		<link rel="stylesheet" href="css/common.css">
		<link rel="stylesheet" href="css/swiper.css">
		<link rel="stylesheet" href="css/index.css">
		<script src="js/swiper.min.js"></script>
	</head>
	<body>
		<header>
			<div class="top-wrapper">
				<div class="top-nav container-box clearfix">
					<span>您好，欢迎来到 鞋帽箱包！</span>
					<div class="login-n" id="login-n">
						<a href="javascript:">登陆</a>
						<a href="/register.html">注册</a>
					</div>
					<div class="login-y" id="login-y">
						<a href="/ucenter.html">会员中心</a>
						<a href="javascript:">退出</a>
					</div>
				</div>
			</div>
			<div class="middle-nav container-box clearfix">
				<div class="logo-box">
					<a href="/index.html">
						<img src="img/logo.png" alt="">
					</a>
				</div>
				<div class="search-box">
					<input type="text" value="" placeholder="请输入搜索的内容" />
					<a href="">
						<em></em>
					</a>
					<div class="search-keyword">
						<a href="">帽子</a>
						<a href="">女鞋</a>
						<a href="">公文包</a>
						<a href="">休闲包</a>
						<a href="">运动</a>
					</div>
				</div>
				<div class="shopping-cartbox">
					<a href="">
						<i></i>
						<p>我的购物车</p>
					</a>
				</div>
			</div>
			<div class="bottom-nav ">
				<div class="container-box">
					<div class="product-list">
						商品分类
						<ul>
							<li>
								<h3>背包</h3>
								<p>
									<a href="">双肩包</a>
									<a href="">潮流女包</a>
									<a href="">贝壳包</a>
									<a href="">绅士男包</a>
									<a href="">公文包</a>
								</p>
							</li>
							<li>
								<h3>帽子</h3>
								<p>
									<a href="">棒球帽</a>
									<a href="">遮阳帽</a>
									<a href="">鸭舌帽</a>
									<a href="">休闲帽</a>
									<a href="">网球帽</a>
								</p>
							</li>
							<li>
								<h3>鞋子</h3>
								<p>
									<a href="">运动鞋</a>
									<a href="">休闲鞋</a>
									<a href="">跑鞋</a>
									<a href="">长筒靴</a>
									<a href="">帆布鞋</a>
								</p>
							</li>
							<li>
								<h3>箱子</h3>
								<p>
									<a href="">行李箱</a>
									<a href="">拉杆箱</a>
									<a href="">旅行箱</a>
									<a href="">登机箱</a>
									<a href="">托运箱</a>
								</p>
							</li>
						</ul>
					</div>
					<ul class="mainnav">
						<li><a href="/index.html" class="nav-active">首页</a></li>
						<li><a href="/product_new.html">新品</a></li>
						<li><a href="/product_hot.html">爆款</a></li>
					</ul>
				</div>
			</div>
		</header>
		<div class="banner">
			<!-- Swiper -->
			<div class="swiper-container">
				<div class="swiper-wrapper">
						<div class="swiper-slide slide1">
							<a href=""><img src="img/index/idx-banner.jpg" alt=""></a>
						</div>
						<div class="swiper-slide slide2">
							<a href=""><img src="img/index/idx-banner.jpg" alt=""></a>
						</div>
						<div class="swiper-slide slide3">
							<a href=""><img src="img/index/idx-banner.jpg" alt=""></a>
						</div>
				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination"></div>
				<!-- Add Arrows -->
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
		</div>
		<div class="main container-box mb-30">
			<!-- 抢购楼层-->
			<div class="purchase clearfix">
				<div class="left-col">
					<a href="">
						<img src="img/index/index_01.jpg" alt="">
					</a>
				</div>
				<ul class="right-col" id="idxnew">
					<li>
						<a href="product_detail.html">
							<img src="img/index/xiangzi1.jpg" alt="">
							<span><em>¥</em>499.00</span>
							<p>ELLE铝框拉杆箱</p>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/m1.jpg" alt="">
							<span><em>¥</em>300.00</span>
							<p>JEEP 吉普帽子男女通用户外登山帽纯棉时尚休闲帽</p>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/m2.jpg" alt="">
							<span><em>¥</em>100.00</span>
							<p>MLB棒球帽NY美职棒洋基队鸭舌帽</p>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/x1.jpg" alt="">
							<span><em>¥</em>239.00</span>
							<p>Mizuno美津浓</p>
						</a>
					</li>
				</ul>
			</div>
			<!-- 抢购楼层2-->
			<ul class="purchase-bottom clearfix">
				<li>
					<strong>限时快抢</strong>
					<p>直击底价等你来
</p>
					<a href="">GO</a>
				</li>
				<li>
					<strong>秒杀告馨</strong>
					<p>疯狂抢购中
					</p>
					<a href="">GO</a>
				</li>
				<li>
					<strong>大牌甄选</strong>
					<p>低价优惠任选
					</p>
					<a href="">GO</a>
				</li>
			</ul>
			<!-- 包包-->
			<div class="productidx clearfix bag">
				<div class="title">
					<h3>包包</h3>
				</div>
				<div class="left-col">
					<a href="">
						<img src="img/index/index_05.jpg" alt="">
						<p>潮流包包</p>
					</a>
				</div>
				<ul class="right-col" id="idxbag">
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
				</ul>
			</div>
			
			<!-- 帽子-->
			<div class="productidx clearfix hat">
				<div class="title">
					<h3>帽子</h3>
				</div>
				<div class="left-col">
					<a href="">
						<img src="img/index/index_06.jpg" alt="">
						<p>个性帽子</p>
					</a>
				</div>
				<ul class="right-col" id="idxhat">
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
				</ul>
			</div>
			
			<!-- 鞋子-->
			<div class="productidx clearfix shoe">
				<div class="title">
					<h3>鞋子</h3>
				</div>
				<div class="left-col">
					<a href="">
						<img src="img/index/index_07.jpg" alt="">
						<p>时尚潮鞋</p>
					</a>
				</div>
				<ul class="right-col" id="idxshoe">
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
				</ul>
			</div>
			
			<!-- 箱子-->
			<div class="productidx clearfix chest">
				<div class="title">
					<h3>箱子</h3>
				</div>
				<div class="left-col">
					<a href="">
						<img src="img/index/index_08.jpg" alt="">
						<p>热卖箱子</p>
					</a>
				</div>
				<ul class="right-col" id="idxchest">
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<img src="img/index/xiangzi1.jpg" alt="">
							<div class="producttxt">
								<p>ELLE铝框拉杆箱</p>
								<span><em>¥</em>499.00</span>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<footer class="footer container-box">
			<div class="footer-top clearfix">
				<div>
					<h4>- 新手帮助 -</h4>
					<ul>
						<li>常见问题</li>
						<li>自助服务</li>
						<li>联系客服</li>
						<li>意见反馈</li>
					</ul>
				</div>
				<div>
					<h4>- 权益保障 -</h4>
					<ul>
						<li>全国包邮</li>      
						<li>自助服务</li>   
						<li>限时发货</li>
						<li>准时到达</li>
					</ul>
				</div>
				<div>
					<h4>- 支付方式 -</h4>
					<ul>
						<li>微信支付</li>
						<li>QQ支付</li>
						<li>银联支付</li>
						<li>支付宝</li>
					</ul>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="footer-content">
					<p>Copyright © 2019 理想箱包鞋帽公司版权所有</p>
					<p>本站内容、图片、视频为网站模板演示数据，如有涉及侵犯版权，请联系我们提供书面反馈，我们核实后会立即删除</p>
				</div>
			</div>
		</footer>
		<script src="js/common.js"></script>
		<script src="js/index.js"></script>
		<!-- Initialize Swiper -->
		<script>
			var swiper = new Swiper('.swiper-container', {
				pagination: {
					el: '.swiper-pagination',
					loop: true,
					clickable :true
				},
				autoplay: {
				  delay: 3000,
				  stopOnLastSlide: false,
				  disableOnInteraction: false
				},
				navigation: {
				    nextEl: '.swiper-button-next',
				    prevEl: '.swiper-button-prev',
				},
				loop: true
			});
		</script>
	</body>
</html>
