<!DOCTYPE html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name='keywords' content="">
		<meta name='description' content="">
		<link rel="stylesheet" href="css/common.css">
		<link rel="stylesheet" href="css/product_hot.css"/>
<html>
	</head>
	<body>
		<iframe src="include/header.html" frameborder="0" width="100%" height="188px" scrolling="no"></iframe>
		<section>
			<div class="main" style="background-image: url(img/product_list/hot1.jpg);">
				<div class="main_center">
				<div class="left">
						<div id="bb" class="h_show">
							<a href="#" class="bb_bb">背包</a>
							<div class="bb_f1">
								<a href="#">双肩包</a>
								<a href="#">潮流包</a>
								<a href="#">贝壳包</a>
								<a href="#">绅士男包</a>
								<a href="#">公务包</a>
							</div>
							<div id="center_main1" class="center_main">
								<div><a href="#">双肩包</a></div>
								<div><a href="#">潮流女包</a></div>
								<div><a href="#">贝壳包</a></div>
								<div><a href="#">绅士男包</a></div>
								<div><a href="#">公文包</a></div>
							</div>
						</div>
						
						<div id="cap" class="h_show">
							<a href="#" class="cap_cap">帽子</a>
							<div class="cap_f1">
								<a href="#">棒球帽</a>
								<a href="#">遮阳帽</a>
								<a href="#">鸭舌帽</a>
								<a href="#">休闲帽</a>
								<a href="#">网球帽</a>
							</div>
							<div id="center_main2" class="center_main">
								<div><a href="#">棒球帽</a></div>
								<div><a href="#">遮阳帽</a></div>
								<div><a href="#">鸭舌帽</a></div>
								<div><a href="#">休闲帽</a></div>
								<div><a href="#">网球帽</a></div>
							</div>
						</div>
						
						<div id="shoes" class="h_show">
										<a href="#" class="shoes_shoes">鞋子</a>
										<div class="shoes_f1">
											<a href="#">运动鞋</a>
											<a href="#">休闲鞋</a>
											<a href="#">跑鞋</a>
											<a href="#">长筒鞋</a>
											<a href="#">帆布鞋</a>
										</div>
										<div id="center_main3" class="center_main">
											<div><a href="#">运动鞋</a></div>
											<div><a href="#">休闲鞋</a></div>
											<div><a href="#">跑鞋</a></div>
											<div><a href="#">长筒鞋</a></div>
											<div><a href="#">帆布鞋</a></div>
										</div>
									</div>
									
									<div id="ccase" class="h_show">
										<a href="#" class="case_case">箱子</a>
										<div id="case_f1">
											<a href="#">行李箱</a>
											<a href="#">拉杆箱</a>
											<a href="#">旅行箱</a>
											<a href="#">登机箱</a>
											<a href="#">托运箱</a>
										</div>
										<div id="center_main4" class="center_main">
											<div><a href="#">行李箱</a></div>
											<div><a href="#">拉杆箱</a></div>
											<div><a href="#">旅行箱</a></div>
											<div><a href="#">登记箱</a></div>
											<div><a href="#">托运箱</a></div>
										</div>
									</div>
							</div>
							</div>
						</div>
						
						
							
							<div class="jxhh">
								<span></span>
								<span>疯狂限量   超值抢购</span>
							</div>
					
			<div class="prolist">
				<div class="pro_list">
					<div>
						<a href="#">
							<div><img src="img/product_list/xiang.jpg" ></div>
							<div><p><san>销量：0</san></p><p>￥ 499.00</p></div>
							<div><span>ELLE铝框拉杆箱</span></div>
						</a>
					</div>
					
					<div>
						<a href="#">
							<div><img src="img/product_list/cap.jpg" alt=""></div>
							<div><p><span>销量： 0</span></p><p>¥ 300.00</p></div>
							<div><span>JEEP 吉普帽子男女通用户外登山帽纯棉时尚休闲帽</span></div>
						</a>
					</div>
					
					<div>
						<a href="#">
						<div><img src="img/product_list/cap1.jpg" alt=""></div>
						<div><p><span>销量： 0</span></p><p>¥ 100.00</p></div>
						<div><span>MLB棒球帽NY美职棒洋基队鸭舌帽</span></div>
						</a>
					</div>
					
					<div>
						<a href="#">
						<div><img src="img/product_list/shoes.jpg" alt=""></div>
						<div><p><span>销量： 0</span></p><p>¥ 239.00</p></div>
						<div><span>Mizuno美津浓</span></div>
						</a>
					</div>
					
					<div>
						<a href="#">
						<div><img src="img/product_list/b1.jpg" alt=""></div>
						<div><p><span>销量： 0</span></p><p>¥ 329.00</p></div>
						<div><span>[DUDU]维西利亚系列单肩斜挎包</span></div>
						</a>
					</div>
					
					<div>
						<a href="#">
						<div><img src="img/product_list/b2.jpg" alt=""></div>
						<div><p><span>销量： 0</span></p><p>¥ 299.00</p></div>
						<div><span>[DUDU]质感旅人手提双肩背包</span></div>
						</a>
					</div>
					
					<div>
						<a href="#">
						<div><img src="img/product_list/b3.jpg" alt=""></div>
						<div><p><span>销量： 0</span></p><p>¥ 368.00</p></div>
						<div><span>[DUDU]酷感加背系列手提双肩背包</span></div>
						</a>
					</div>
					
					<div>
						<a href="#">
						<div><img src="img/product_list/b4.jpg" alt=""></div>
						<div><p><span>销量： 0</span></p><p>¥ 268.00</p></div>
						<div><span>[FOXER]金狐狸2016新款欧美时尚</span></div>
						</a>
					</div>
					
					<div>
						<a href="#">
						<div><img src="img/product_list/b5.jpg" alt=""></div>
						<div><p><span>销量： 0</span></p><p>¥ 299.00</p></div>
						<div><span>[戈尔本]巴斯蒂亚系列细摔纹头层牛皮单肩</span></div>
						</a>
					</div>
					
					<div>
						<a href="#">
						<div><img src="img/product_list/b6.jpg" alt=""></div>
						<div><p><span>销量： 0</span></p><p>¥ 299.00</p></div>
						<div><span>[戈尔本]绅士品格系列双拉链格层牛皮公文</span></div>
						</a>
					</div>
					
					<div>
						<a href="#">
						<div><img src="img/product_list/b7.jpg" alt=""></div>
						<div><p><span>销量： 0</span></p><p>¥ 179.00</p></div>
						<div><span>[戈尔本]里尔克系列通勤旅行两用包</span></div>
						</a>
					</div>
					
					<div>
							<a href="#">
							<div><img src="img/product_list/b8.jpg" alt=""></div>
							<div><p><span>销量： 0</span></p><p>¥ 229.00</p></div>
							<div><span>[朗迪威]睿风悦尚系列休闲胸包</span></div>
							</a>
					</div>
					
					<div>
							<a href="#">
							<div><img src="img/product_list/b9.jpg" alt=""></div>
							<div><p><span>销量： 0</span></p><p>¥ 149.00</p></div>
							<div><span>[浪美]水手系列斜挎包</span></div>
							</a>
					</div>
					
					<div>
							<a href="#">
							<div><img src="img/product_list/b10.jpg" alt=""></div>
							<div><p><span>销量： 0</span></p><p>¥ 458.00</p></div>
							<div><span>[金狐狸]2016新款女包手提包OL商务</span></div>
							</a>
					</div>
					
					<div>
							<a href="#">
							<div><img src="img/product_list/b11.jpg" alt=""></div>
							<div><p><span>销量： 0</span></p><p>¥ 199.00</p></div>
							<div><span>[阿尔法·阿蒂斯特]特轻空格系列手提单肩</span></div>
							</a>
					</div>
					
					<div>
							<a href="#">
							<div><img src="img/product_list/b12.jpg" alt=""></div>
							<div><p><span>销量： 0</span></p><p>¥ 188.00</p></div>
							<div><span>[阿尔法·阿蒂斯特]经典时光系列单肩包</span></div>
							</a>
					</div>
					
					<div>
							<a href="#">
							<div><img src="img/product_list/xiang11.jpg" alt=""></div>
							<div><p><span>销量： 0</span></p><p>¥ 349.00</p></div>
							<div><span>【防刮型】吉鲁宾528拉杆箱</span></div>
							</a>
					</div>
					
					<div>
							<a href="#">
							<div><img src="img/product_list/b13.jpg" alt=""></div>
							<div><p><span>销量： 0</span></p><p>¥ 399.00</p></div>
							<div><span>七匹狼 欧美时尚真皮商务日字手提包</span></div>
							</a>
					</div>
					
					<div>
							<a href="#">
							<div><img src="img/product_list/b14.jpg" alt=""></div>
							<div><p><span>销量： 0</span></p><p>¥ 518.00</p></div>
							<div><span>七匹狼 男包 男士休闲手提包</span></div>
							</a>
					</div>
					
					<div>
							<a href="#">
							<div><img src="img/product_list/b14.jpg" alt=""></div>
							<div><p><span>销量： 0</span></p><p>¥ 358.00</p></div>
							<div><span>七匹狼 男包 男士休闲手提包商务公文包</span></div>
							</a>
					</div>
				</div>
				
				<div class="pagination">
							<div class="pagi-group">
								<a href="#"><</a>
								<a href="#">1</a>
								<a href="#">2</a>
								<a href="#">3</a>
								<a href="#">4</a>
								<a href="#">5</a>
								<a href="#">></a>
							</div>
				</div>
			</div>
		</section>
		<iframe src="include/footer.html" frameborder="0" width="100%" height="229px" scrolling="no"></iframe>
	</body>
</html>