<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>鞋帽箱包</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name='keywords' content="">
		<meta name='description' content="">
		<link rel="stylesheet" href="css/common.css">
		<link rel="stylesheet" href="css/swiper.css">
		<link rel="stylesheet" href="css/product_fenlei.css">
		<script src="js/swiper.min.js"></script>
	</head>
	<body>
		<header>
			<div class="top-wrapper1">
				<div class="top-nav1 container-box clearfix">
					<span>您好，欢迎来到 鞋帽箱包！</span>
					<div class="login-a">
						<a href="">登陆</a>
						<a href="">注册</a>
					</div>
					<div class="login-b">
						<a href="">会员中心</a>
						<a href="">退出</a>
					</div>
				</div>
			</div>
			
			<div class="bottom-nav ">
				<div class="container-box">
					
					<ul class="mainnav">
						<li><a href="" class="nav-active">首页</a></li>
						<li><a href="">新品</a></li>
						<li><a href="">爆款</a></li>
					</ul>
				</div>
			</div>
			
			<div class="view"><div class="row-fluid">
				      
						<div class="check_condition">
							<span class="fl" style="background: rgb(254, 33, 126);">当前条件：</span>
						</div>
						<!-- 检索项 -->
						<div class="classify_con">
								<div class="productTag">
									<span>标签</span>
									<ul>
											<li><a href="#">推荐</a></li>
											<li><a href="#">最新</a></li>
									</ul>
								</div>
						</div>
						<div class="productOrder">
							<ul>
								<li class="selected">综合排序</li>
								<li>按价格最小</li>
								<li>按价格最大</li>
							</ul>
						</div>
						<div class="product_table">
								<ul class="clearfix">
								<li>
									<a href="">
										<span>
											<img src="http://image.fast.126net.cn/group2/M00/01/AB/wKgADlvHHPCAZxQAAACoG9MHSZc052.jpg" height="180";>
										</span>
						        <span class="img_text">博兿（BOYI）拉杆箱24英寸</span>
									</a>
						    </li>
						    <li>
						      <a href="">
						        <span>
						          <img src="http://image.fast.126net.cn/group2/M00/01/AB/wKgADlvHGzSAPPTyAADOZoT-XiY236.jpg" height="180";>
						        </span>
						        <span class="img_text">ELLE铝框拉杆箱</span>
						      </a>
						    </li>
						    <li>
						      <a href="">
						        <span>
											<img src="http://image.fast.126net.cn/group1/M00/04/67/wKgADFvHGcaAckB2AACCvnzjnSg359.jpg" height="180";>
						        </span>
						        <span class="img_text">小米（MI）米家90分铝镁合金旅行箱拉杆箱</span>
									</a>
						    </li>
						    <li>
									<a href="">
										<span>
											<img src="http://image.fast.126net.cn/group2/M00/01/AB/wKgADlvHGKOAS1iyAADcSfC5HGE263.jpg" height="180";>
										</span>
										<span class="img_text">【防刮型】吉鲁宾528拉杆箱</span>
									</a>
								</li>
						    <li>
						      <a href="">
						        <span>
											<img src="http://image.fast.126net.cn/group2/M00/01/AB/wKgADlvHF0eAAvexAAClYt_U3lw386.jpg" height="180";>
						        </span>
						        <span class="img_text">瑞动（SWISSMOBILITY）行李箱</span>
						      </a>
						    </li>
						    <li>
						      <a href="">
						        <span>
						          <img src="http://image.fast.126net.cn/group1/M00/04/67/wKgADFvHFhWAMlOkAADc97VG8sU451.jpg" height="180";>
						        </span>
						        <span class="img_text">美旅拉杆箱新品 </span>
						      </a>
						    </li>
						    <li>
						      <a href="">
						        <span>
						          <img src="http://image.fast.126net.cn/group2/M00/01/AA/wKgADlvHFNKACtXLAABGpdmmccY453.jpg" height="180";>
						        </span>
						        <span class="img_text">瑞士军刀威戈（Wenger）拉杆箱</span>
						      </a>
						    </li>
						    <li>
						      <a href="">
						        <span>
						          <img src="http://image.fast.126net.cn/group1/M00/04/67/wKgADFvHE5qADJdJAABiTykpFQM754.jpg" height="180";>
						        </span>
						        <span class="img_text">地亚（Vantiiear）万向轮拉杆箱</span>
						      </a>
						    </li>
						  </ul>
			             <div class="noData">
			                 <img src="img/product_list/123.gif">
			                 <div class="nodata_text"><p>抱歉，没有符合条件的数据！</p></div>
			             </div>
						</div>
						<div class="clearfloat "></div>
			</div>
			
			
				
			
		</header>
		<footer class="footer container-box">
			<div class="footer-top clearfix">
				<div>
					<h4>- 新手帮助 -</h4>
					<ul>
						<li>常见问题</li>
						<li>自助服务</li>
						<li>联系客服</li>
						<li>意见反馈</li>
					</ul>
				</div>
				<div>
					<h4>- 权益保障 -</h4>
					<ul>
						<li>全国包邮</li>      
						<li>自助服务</li>   
						<li>限时发货</li>
						<li>准时到达</li>
					</ul>
				</div>
				<div>
					<h4>- 支付方式 -</h4>
					<ul>
						<li>微信支付</li>
						<li>QQ支付</li>
						<li>银联支付</li>
						<li>支付宝</li>
					</ul>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="footer-content">
					<p>Copyright © 2019 理想箱包鞋帽公司版权所有</p>
					<p>本站内容、图片、视频为网站模板演示数据，如有涉及侵犯版权，请联系我们提供书面反馈，我们核实后会立即删除</p>
				</div>
			</div>
		</footer>

		<!-- Initialize Swiper -->

	</body>
</html>
