<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name='keywords' content="">
		<meta name='description' content="">
		<link rel="stylesheet" href="css/common.css">
	</head>
	<body>
		<header>
			<iframe src="include/header.html" frameborder="0" width="100%" height="" scrolling="no"></iframe> 
			<!--#include virtual="include/header.html" -->
		</header>
		<footer>
			<iframe src="include/header.html" frameborder="0" width="100%" height="" scrolling="no"></iframe> 
		</footer>
	</body>
</html>
