<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name='keywords' content="">
		<meta name='description' content="">
		<link rel="stylesheet" href="css/common.css">
		<link rel="stylesheet" href="css/ucenter.css">
	</head>
	<body>
		<header>
			<div class="top-wrapper uc-bg">
				<div class="top-nav container-box clearfix">
					<span>您好，xxx！</span>
					<div class="login-n" id="login-n">
						<a href="javascript:">首页</a>
						<a href="javascript:">购物车</a>
						<a href="javascript:">退出</a>
					</div>
				</div>
			</div>
			<div class="middle-nav container-box clearfix">
				<div class="logo-box">
					<a href="">
						<img src="img/logo.png" alt="">
					</a>
					<p>会员中心</p>
				</div>
				<ul>
					<li><a href="">会员中心</a></li>
					<li><a href="">会员信息</a></li>
					<li><a href="">我的优惠券</a></li>
					<li><a href="">收货地址</a></li>
					<li><a href="">我的收藏</a></li>
					<li><a href="">我的订单</a></li>
				</ul>
			</div>
		</header>
		<!-- 我的购物车 -->
		<div class="main container-box">
			<div class="bg-white">
				<div class="uc-title">
					<p>购物车</p>
				</div>
				<div class="w-95">
					<table class="purchase-table" id="purchase_table">
						<tr>
							<th></th>
							<th>类型</th>
							<th>规格</th>
							<th>单价</th>
							<th>数量</th>
							<th>小计(折后)</th>
							<th>操作</th>
						</tr>
						<tr>
							<td><input type="checkbox" checked=""></td>
							<td>
								<img src="img/index/xiangzi1.jpg" alt="" />
								<p>ELLE铝框拉杆箱</p>
							</td>
							<td>
								默认
							</td>
							<td>
								<p class="discount"><span>¥</span>520.00</p>
								<p>¥<span>490.00</span></p>
							</td>
							<td class="amount">
								<div>
									<a href="javascript:void(0)">-</a>
									<input type="text" value="1">
									<a href="javascript:void(0)">+</a>
								</div>
							</td>
							<td>
								<p>¥<span>1497.00</span></p>
							</td>
							<td>
								<div class="oper">
									<a href="javascript:void(0)">删除</a>
									<a href="">移入收藏夹</a>
								</div>
							</td>
						</tr>
						<tr>
							<td><input type="checkbox" checked=""></td>
							<td>
								<img src="img/index/xiangzi1.jpg" alt="" />
								<p>ELLE铝框拉杆箱</p>
							</td>
							<td>
								默认
							</td>
							<td class="price">
								<p class="discount"><span>¥</span>520.00</p>
								<p>¥<span>490.00</span></p>
							</td>
							<td class="amount">
								<div>
									<a href="javascript:void(0)">-</a>
									<input type="text" value="1">
									<a href="javascript:void(0)">+</a>
								</div>
							</td>
							<td class="total">
								<p>¥<span>1497.00</span></p>
							</td>
							<td>
								<div class="oper">
									<a href="javascript:void(0)">删除</a>
									<a href="">移入收藏夹</a>
								</div>
							</td>
						</tr>
					</table>
					<ul class="purchase-bar">
						<li><a href="">删除</a></li>
						<li><a href="">清除失效宝贝</a></li>
						<li><a href="">移入收藏夹</a></li>
						<li>已选商品<span>3</span>件 (不含运费)</li>
						<li>¥1888.00</li>
						<li><a href="">结算</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 我的收藏 -->
		<div class="main container-box">
			<div class="bg-white">
				<div class="uc-title">
					<p>宝贝收藏</p>
				</div>
				<div class="w-95">
					<ul class="favourite clearfix">
						<li>
							<a href="">
								<div class="favourite-pic">
									<img src="img/index/xiangzi1.jpg" alt="">
								</div>
								<p>ELLE铝框拉杆箱</p>
							</a>
							<div class="favouritetxt">
								<span><em>¥</em>499.00</span>
								<a href=""></a>
							</div>
						</li>
						<li>
							<a href="">
								<div class="favourite-pic">
									<img src="img/index/xiangzi1.jpg" alt="">
								</div>
								<p>ELLE铝框拉杆箱</p>
							</a>
							<div class="favouritetxt">
								<span><em>¥</em>499.00</span>
								<a href=""></a>
							</div>
						</li>
						<li>
							<a href="">
								<div class="favourite-pic">
									<img src="img/index/xiangzi1.jpg" alt="">
								</div>
								<p>ELLE铝框拉杆箱</p>
							</a>
							<div class="favouritetxt">
								<span><em>¥</em>499.00</span>
								<a href=""></a>
							</div>
						</li>
						<li>
							<a href="">
								<div class="favourite-pic">
									<img src="img/index/xiangzi1.jpg" alt="">
								</div>
								<p>ELLE铝框拉杆箱</p>
							</a>
							<div class="favouritetxt">
								<span><em>¥</em>499.00</span>
								<a href=""></a>
							</div>
						</li>
						<li>
							<a href="">
								<div class="favourite-pic">
									<img src="img/index/xiangzi1.jpg" alt="">
								</div>
								<p>ELLE铝框拉杆箱</p>
							</a>
							<div class="favouritetxt">
								<span><em>¥</em>499.00</span>
								<a href=""></a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 会员信息-->
		<div class="main container-box user-center clearfix">
			<div class="userinfo-nav">
				<div>
					<h4>会员中心</h4>
				</div>
				<ul>
					<li><a href="">个人信息</a></li>
					<li><a href="">修改密码</a></li>
				</ul>
			</div>
			<div class="userinfo-content">
				<form action="">
					<div class="base-info clearfix">
						<div>
							<h4>基本信息</h4>
						</div>
						<ul>
							<li>
								<span><i>*</i>昵称:</span>
								<input type="text" value="" />
							</li>
							<li>
								<span>邮箱:</span>
								<input type="text" value="" placeholder="325@qq.com" />
							</li>
							<li>
								<span><i>*</i>手机号码:</span>
								<input type="text" value="" />
							</li>
							<li>
								<span>真实姓名:</span>
								<input type="text" value="" />
							</li>
							<li>
								<span>性别:</span>
								<div class="sex-choose">
									<input type="radio" name="sex" value="1" id="nan" checked="" />
									<label for="nan">男</label>
									<input type="radio" name="sex" value="1" id="nv" />
									<label for="nv">女</label>
								</div>
							</li>
							<li>
								<span></span>
								<button type="button">保存</button>
							</li>
						</ul>
						<div class="avater">
							<img src="img/ucenter/userheader1.png">
							<a href="">
								<div class="user-header">
									<img src="img/ucenter/pen.png" alt="">
								</div>
							</a>
						</div>
					</div>
					<div class="change-pw">
						<div>
							<h4>修改密码</h4>
						</div>
						<ul>
							<li>
								<span>用户名:</span>
								<div class="username">222222</div>
							</li>
							<li>
								<span>旧密码:</span>
								<input type="text" value="" />
							</li>
							<li>
								<span>新密码:</span>
								<input type="text" value="" />
							</li>
							<li>
								<span>确认密码:</span>
								<input type="text" value="" />
							</li>
							<li>
								<span></span>
								<button>保存</button>
								<button>取消</button>
							</li>
						</ul>
					</div>
				</form>
			</div>
		</div>
		<!-- 订单详情-->
		<div class="main container-box">
			<div class="bg-white">
				<div class="uc-title order-title clearfix">
					<p>订单信息</p>
					<div>
						<label for="order-num">订单号:</label>
						<input type="text" name="order-num" id="order-num" placeholder="订单号查询" />
						<label for="order-start">开始时间:</label>
						<input type="text" name="order-start" id="order-start" placeholder="开始时间" />
						<label for="order-over">结束时间:</label>
						<input type="text" name="order-over" id="order-over" placeholder="结束时间" />
						<a href="">搜索</a>
					</div>
				</div>
				<div class="w-95">
					<table class="order-table">
						<tr>
							<th>商品信息</th>
							<th>规格</th>
							<th>单价</th>
							<th>数量</th>
							<th>小计</th>
						</tr>
						<tr>
							<td>
								<img src="img/index/xiangzi1.jpg" alt="" />
								<p>ELLE铝框拉杆箱</p>
							</td>
							<td>
								默认
							</td>
							<td>
								<p class="discount"><span>¥</span>520.00</p>
								<p><span>¥</span>490.00</p>
							</td>
							<td class="amount">
								<div>
									<span>1</span>
								</div>
							</td>
							<td>
								<p><span>¥</span>1497.00</p>
							</td>
						</tr>
					</table>
					<ul class="order-bar">
						<li>商品总价:<span>￥499.00</span></li>
						<li>优惠金额:<span>￥0.00</span></li>
						<li class="total-price">订单总价:<span>￥499</span></li>
					</ul>
					<div class="order-btn">
						<a href="">提交订单</a>
					</div>
				</div>
			</div>
		</div>
		<!-- 收货地址-->
		<div class="main container-box">
			<div class="bg-white address">
				<div class="uc-title address-title clearfix">
					<p>收货地址</p>
					<div>
						<a href="">新增收货地址</a>
						<a href="">显示全部地址</a>
					</div>
				</div>
				<div class="w-95">
					<div class="no-data">
					    <img src="img/ucenter/nodataImg.gif">
					    <p>抱歉，没有相关数据！</p>
					</div>
				</div>
			</div>
			<div class="add-address">
				<div class="add-addressbox">
					<div class="clearfix">
						<p>地址添加</p>
						<a href="">×</a>
					</div>
					<div>
						<ul>
							<li>
								<span><i>*</i>请选择所在地区:</span>
								<select name="" id="" >
									<option value="">请选择</option>
								</select>
								<select name="" id="" >
									<option value="">请选择</option>
								</select>
								<select name="" id="" >
									<option value="">请选择</option>
								</select>
								<select name="" id="" >
									<option value="">请选择</option>
								</select>
							</li>
							<li>
								<span><i>*</i>详细地址:</span>
								<input type="text" value=""/>
							</li>
							<li>
								<span>邮编:</span>
								<input type="text" value="" />
							</li>
							<li>
								<span><i>*</i>收货人姓名:</span>
								<input type="text" value="" />
							</li>
							<li>
								<span><i>*</i>联系方式:</span>
								<input type="text" value="" />
							</li>
							<li>
								<span></span>
								<input type="checkbox" value="" />
								<lable>设置为默认收货地址</lable>
							</li>
						</ul>
						<a href="">保存</a>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<p>Copyright ©2019 理想箱包鞋帽公司版权所有</p>
		</footer>
		<script src="js/ucenter.js"></script>
	</body>
</html>
